@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';


::-webkit-scrollbar {
    width: 0;
    height: 0;
  }
  .scrollbar-hidden {
    scrollbar-width: none;
  }